.app-body {
    min-height: calc(100vh - 55px);
    /* margin-top: 50px; */
}

.spinner-row {
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.edit-button {
    cursor: pointer;
}