body {
  background-color: #161617 !important;
  color: #ffffff !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn{
  box-shadow: none !important;
}

.btn-primary {
  background-color: #FF493A !important;
  border: 1px solid #FF493A !important;
}

.btn-primary:hover,
.btn-primary:active, 
.btn-primary:focus
{
  background-color: #f14636 !important;
  border: 1px solid #f14636 !important;
  border-radius: 5px;
}

.primary-link {
  cursor: pointer;
  color: #f14636;
  text-decoration: none;
}

.primary-link:hover {
  color: #df4031;
}

.modal-content {
  background-color: #1b1b1c !important;
}

label {
  display: block !important;
  margin-bottom: 5px;
}