body {
  background-color: #161617 !important;
  color: #ffffff !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn{
  box-shadow: none !important;
}

.btn-primary {
  background-color: #FF493A !important;
  border: 1px solid #FF493A !important;
}

.btn-primary:hover,
.btn-primary:active, 
.btn-primary:focus
{
  background-color: #f14636 !important;
  border: 1px solid #f14636 !important;
  border-radius: 5px;
}

.primary-link {
  cursor: pointer;
  color: #f14636;
  text-decoration: none;
}

.primary-link:hover {
  color: #df4031;
}

.modal-content {
  background-color: #1b1b1c !important;
}

label {
  display: block !important;
  margin-bottom: 5px;
}

.pagination {
  --bs-pagination-color:#cacaca !important;
  --bs-pagination-bg: #212529 !important;
  --bs-pagination-border-color: #212529 !important;
}

.page-link:hover {
  color: #cacaca !important;
  background-color: #2c3237 !important;
  border-color: #2c3237 !important;
}

.page-link:focus {
  color: #cacaca !important;
  background-color: #2c3237 !important;
  border-color: #2c3237 !important;
}

select {
  word-wrap: normal;
  border-radius: 5px;
  background-color: #2e3439;
  border: none;
  color: #cacaca;
  padding: 3px;
}

input {
  background-color: #2e3439;
  color: #cacaca;
  padding: 3px;
  border-radius: 5px;
  border-style: solid;
  border: none;
}

.modal {
  --bs-modal-header-border-color: #141619 !important; 
  --bs-modal-footer-border-color: #141619 !important;
}

.modal-body > form > div > input, .modal-body > form > select, .modal-body > form > input {
  width : 100%;
}

.small-photo-round {
  width: 50px;
  height: 50px;
  border-radius: 30px;
  background-color: #41464b;
}

.group-col {
  max-width: 200px !important;
  background-color: #212529;
  margin: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
}

.group-col:hover {
  background-color: #2f343a;
  color: #ffffff;
}

.chat-container {
  background-color: rgb(29, 29, 29);
  border-radius: 5px;
  padding: 0;
}

.message-row {
  margin: 5px;  
}

.own-message {
  justify-content: flex-end !important;
}

.message-col {
  background-color: grey;
  border-radius: 5px;
  height: fit-content;
  word-break: break-all;
  max-width: fit-content !important;
}

.message-col > .row {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  min-width: 200px;
}

.own-message > .message-col {
  justify-content: flex-end !important;
  background-color: rgb(119, 146, 170);
}

.messages-window-row{
  height: 400px;
  padding-top: 15px;
  padding-right: 25px;
  padding-bottom: 15px;
  overflow-y: scroll;
  overflow-x: hidden;
  row-gap: 15px;
  display: flex;
  flex-direction: row-reverse;
  scrollbar-width: 15px;
  scrollbar-color: rgb(69, 69, 69) rgb(45, 45, 45);
}

.messages-window-row::-webkit-scrollbar {
  width: 15px;
}

.messages-window-row::-webkit-scrollbar-thumb {
  background-color: rgb(69, 69, 69);
}

.messages-window-row::-webkit-scrollbar-track {
  background-color: rgb(45, 45, 45);
}

.chat-img {
  width: 40px !important;
  height: 40px !important;
  padding: 0 !important;
  border-radius: 30px;
}

.chat-input-row {
  align-items: center;
  padding: 5px;
  border-radius: 0px 0px 5px 5px;
  background-color: #212121;
}

.chat-input {
  width: 100%;
}

.chat-send-button-col {
  max-width: fit-content !important;
}

.chat-send-button-col > button {
  display: flex;
}

.send-button-icon {
  width: 20px;
  height: 20px;
}

.emoji-picker-row {
  height: fit-content;
  margin-top: -450px !important;
  width: 100%;
  justify-content: flex-end;
}

.emojihide {
  display: none !important;
}

.emoji-show-button {
  max-width: fit-content !important;
  cursor: pointer;
  padding: 0 !important
}

.emoji-show-button > img {
  width: 30px;
  height: 30px
}