.home-page-main-buttons-row > .col > .btn{
    width: 100%;
    margin-top: 50px;
}

.home-join-button-row {
    justify-content: center;
}

.home-join-button {
    max-width: 300px;
    margin-top: 50px;
}

.home-page-container {
    text-align: center;
}

.home-page-container > .row > .row , .home-page-container > .row {
    margin-top: 100px;
    justify-content: center;
}

.bullet-points-row {
    margin-top: 50px;
}

.popular-groups-row > h1 {
    margin-bottom: 50px;
}