.home-main-text-col {
    text-align: left;
}

.home-title {
    text-transform: uppercase;
}
.home-img-col {
    max-width: fit-content !important;
}

.home-img {
    max-width: 300px;
}

.home-page-main-buttons-row > .col > .btn{
    width: 100%;
    margin-top: 50px;
}

.home-join-button-row {
    justify-content: center;
}

.home-join-button {
    width: 250px;
    margin-top: 50px;
}

.home-page-container {
    text-align: center;
}

.home-page-container > .row > .row , .home-page-container > .row {
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

.how-works-main-row {
    padding-top: 30px;
    padding-bottom: 30px;
}

.bullet-points-row {
    margin-top: 50px !important;
}

.bullet-point-img {
    max-width: 80px;
}

.popular-groups-row > h1 {
    margin-bottom: 50px;
}

.popular-group-col {
    min-height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.group-photo-member-count-col {
    display: grid;
}

.group-photo-member-count-col > .col {
    grid-row-start: 1;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-start: 1;
}

.group-photo-member-count-col > .col:nth-child(2) {
    justify-self: flex-end;
    height: fit-content;
    padding: 0;
    padding-inline: 5px;
    color: rgb(255, 255, 255);
    background-color: #f14636;
    font-weight: 400;
    border-radius: 0 5px 0 5px;
}

.group-photo-member-count-col > .col:nth-child(2) > img {
    max-width: 20px;
}

.member-count-col {
    display: flex;
    justify-content: center;
    align-items: center;
}

