.profile-container {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}

.edit-profile-col {
    max-width: fit-content !important;
}

.edit-button {
    display: flex;
    align-items: center;
}

.edit-icon {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

.profile-img {
    width: 100px;
    height: 100px;
}

.profile-img-col {
    height: 100px;
    max-width: 100px !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.change-photo-row > input {
    max-width: fit-content;
}

.change-photo-col {
    margin-left: 10px;
    margin-top: 10px !important;
}

.change-photo-text-col {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    max-width: fit-content !important;
    color: #b8b8b8;
}

.change-photo-text-col:hover {
    color: #c8c8c8;
}

.photo-upload-input-row {
    max-width: fit-content !important;
    margin-top: 10px;
    margin-bottom: 10px;
}

.upload-or-cancel-row {
    column-gap: 5px;
}

.upload-or-cancel-buttons-col {
    max-width: fit-content !important;
    padding: 0px !important;
}

.change-photo-text {
    margin: 0 !important;
    padding: 0 !important;
}

.about-section-row {
    margin-top: 20px !important;
    margin-bottom: 20px;
}


