.messages-page-container {
    display: grid;
}

.messages-page-container > .row {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}

.messages-page-container > .row:nth-child(2) {
    margin-top: 130px;
}

.messages-h1 {
    line-height: calc(1.375rem + 1.5vw);
}

.hide-chat {
    visibility: hidden !important
}

.chat-partners-col {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.partners-button-col {
    max-width: fit-content !important;
}

.chat-partners-list-row {
    background-color: #212529;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.chat-partners-list-row:hover {
    background-color: #2f343a;
}

.partners-text {
    
}

.current {
    background-color: #2f343a;
}

.messages-chat-img-col {
    max-width: fit-content !important;
}

.chat-partner-name-col {
    display: flex;
    align-items: center;
}

.chat-partner-name-col > p {
    margin: 0px !important;
}

.unseen-messages-count-col {
    max-width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.unseen-messages-count-col > p {
    background-color: #FF493A;
    font-weight: 600;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 25px;
    margin: 0px !important;
}

.find-member-list-row {
    min-height: 100px;
    max-height: 300px;
    overflow-y: scroll;
    background-color: #212529;
    z-index: 2 !important;
    position: relative;
}

.find-member-list-col {
    row-gap: 5px;
    display: flex;
    flex-direction: column;
}

.find-member-list-col > .row{
    cursor: pointer;
    background-color: #1d2124;
    padding: 10px;
}

.find-member-list-col > .row:hover{
    background-color: #25292d;
}

.find-member-list-col > .row > .col:nth-child(1){
    max-width: fit-content;
}

.find-member-spinner-col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.go-profile-icon-col {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: fit-content !important;
}

.go-profile-icon-col > img {
    max-width: 30px;
    filter: opacity(0.6);
}

.messages-chat-window {
    height: calc( 100vh - 288px);
}

@media screen and ( width >= 992px) {
    .chat-partners-col {
        padding-right: 20px;
        max-height: calc( 100vh - 187px);
        overflow-y: scroll;
    }
    .messages-chat-window {
        height: calc( 100vh - 230px);
    }
}
  
.title-and-find-row {
    height: fit-content;
    display: flex !important;
    align-items: flex-start;
    margin-top: 30px !important;
}

.find-member-input-row {
    padding-inline: 10px;
}

.no-messages-text {
    height: calc( 100vh - 200px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}