.groups-and-newgroup-row {
    margin-top: 40px !important;
    margin-bottom: 40px;
    align-items: center;
}

.create-new-group-col {
    max-width: fit-content !important;
}

.group-listing-col {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    min-height: 200px;
}

.create-group {
    color: #FF493A;
    cursor: pointer;
}