.groups-and-newgroup-row {
    margin-top: 40px !important;
    margin-bottom: 40px;
    align-items: center;
}

.create-new-group-col {
    max-width: fit-content !important;
}

.group-listing-row {
    margin-top: 50px !important;
    margin-bottom: 50px;
    row-gap: 20px;
}

.group-listing-inner-col {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid grey;
    min-height: 200px;
}

.create-group {
    color: #FF493A;
    cursor: pointer;
}

.group-status-selector-col {
    max-width: fit-content !important;
}

.group-status-selector-col > p {
    cursor: pointer;
}

.selected-selector {
    color: #FF493A;
}

.groups-pagination-row {
    justify-content: center;
}

.filter-by-category {
    width: auto !important;
}