#registration-row {
    display: flex;
    justify-content: center;
}

#regform {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    max-width: 500px;
    margin-top: 50px;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#regform > h1 {
    text-align: center;
}