.member-profile-photo-col {
    height: 100px;
    max-width: 100px !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.send-message-p {
    cursor: pointer;
}