.member-container {
    padding-top: 30px;
}

.member-profile-photo-col {
    height: 100px;
    max-width: 100px !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.send-message-col {
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: fit-content;
    column-gap: 5px;
}

.send-message-col > .col {
    max-width: fit-content;
}

.send-message-col > .col > img {
    max-width: 20px;
}

.send-message-p {
    margin: 0px;
    padding: 0px;
}

.member-groups-own-groups-row {
    margin-bottom: 30px;
}