.message-modal > .modal-dialog {
    position: relative;
    width: auto;
    margin-top: 0px !important;
    pointer-events: none;
    height: 100vh !important;
}

@media screen and (width < 992px) {
    .message-modal > .modal-dialog {
        margin: 0 !important;
        max-width: 100% !important;
    }

    .message-modal {
        padding: 0 !important;
        max-width: 100% !important;
    }

    .message-modal-container {
        max-width: 100% !important;
    }
}