.event-modal-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.event-photo-col {
    height: 200px !important;
    max-width: 200px !important;
    background-size: cover;
    background-position: center;
}

.delete-event-container {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.delete-event-page-button {
    width: 100px;
}

.delete-question {
    text-align: center;
}