.event-modal-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.event-modal-body > .row {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.event-modal-body > .row > p {
    padding: 0 !important;
    margin: 0 !important;
}

.event-label {
    color: #9a9a9a;
    font-weight: 700;
}

.event-members-list-col {
    display: flex;
    row-gap: 10px;
    column-gap: 10px;
    margin-top: 10px !important;
}

.event-photo-row {
    margin-bottom: 30px;
}

.event-photo-col {
    height: 120px !important;
    max-width: 120px !important;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
}

.delete-event-container {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.delete-event-page-button {
    width: 100px;
}

.delete-question {
    text-align: center;
}