.loading-button {
    height: 24px !important;
    width: 24px !important;
    margin: 0 !important;
    padding: 8px !important;
    display: flex !important;
}

.group-header-row {
    border-bottom: 1px solid white;
    padding-bottom: 20px;
    margin-bottom: 20px;
    align-items: flex-end;
}

.member-list-element-main-col {
    max-width: fit-content !important;
}

.chat-title-row {
    margin-top: 30px !important;
}

.ban-x {
    cursor: pointer;
    text-align: right;
    margin-bottom: -3px;
    color: grey;
}

.group-main-photo-col {
    max-width: fit-content !important;
    max-height: fit-content !important;
    padding: 0px !important;
}

.group-main-photo-div {
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
}

.group-main-photo {
    width: 150px;
    height: 150px;
    background-color: #41464b;
}

.group-name {
    margin-bottom: 0px !important
}

.own-group-badge-col, .create-event-badge-col {
    max-width: fit-content !important;
    padding-right: 0 !important;
}

.own-group-badge {
    background-color: #dc3545;
    max-width: fit-content;
    padding: 2px;
    padding-inline: 5px;
    border-radius: 5px;
    margin: 0px;
}

.create-event-badge {
    cursor: pointer;
    background-color: #2e3439;
    max-width: fit-content;
    padding: 2px;
    padding-inline: 5px;
    border-radius: 5px;
    margin: 0px;
}

.member-photo-col {
    display: flex;
    max-width: fit-content !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.group-events-list-row {
    row-gap: 30px;
    margin-bottom: 30px;
}

.group-close-chat {
    margin-top: 20px;
    margin-bottom: 20px;
}

.group-chat-window {
    height: calc( 100vh - 178px) !important;
}

.show-chat-button {
    margin-bottom: 30px;
}
